header{
    background-color:darkblue ;
    color: bisque;
    text-align: center;
}
main{
    background-color: lightgray;
    padding: 1em;
}
body  {
    background-image: url("record.png");
    margin: 0%;
  }